{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body>
	<div id="page">
		<div id="nav">{% include menu_header.html %}</div>
		<div id="header" role="banner">{% include header.html %}</div>
		<hr/>
		<div id="container">
			<div id="sidebar" role="complementary">{% include navigation.html %}</div>
			<div id="content" role="main">{{ content | expand_urls: root_url }}</div>
			<hr/>
			<div id="footer" role="contentinfo"></div>
		</div>
	</div>
	<div id="footer-bott">{% include footer.html %}</div>
    {% include google_analytics.html %}
</body>
</html>
