<ul>
    {% capture url %}{{ page.url }}{% endcapture %}
    {% if url == '/index.html' %}
    {% assign link_class = 'current_page_item' %}
    {% else %}
    {% assign link_class = 'page_item' %}
    {% endif %}
    <li class="{{link_class}}">
        <a href="{{ root_url }}/">Home</a>
    </li>

    {% if url == '/about/index.html' %}
    {% assign link_class = 'current_page_item' %}
    {% else %}
    {% assign link_class = 'page_item' %}
    {% endif %}
    <li class="{{link_class}}">
        <a href="/about">About the&nbsp;author</a>
    </li>

    {% if url == '/tutorials-index/index.html' %}
    {% assign link_class = 'current_page_item' %}
    {% else %}
    {% assign link_class = 'page_item' %}
    {% endif %}
    <li class="{{link_class}}">
        <a href="/tutorials-index">Tutorials&nbsp;index</a>
    </li>

    {% if url == '/projects/index.html' %}
    {% assign link_class = 'current_page_item' %}
    {% else %}
    {% assign link_class = 'page_item' %}
    {% endif %}
    <li class="{{link_class}}">
        <a href="/projects">Projects</a>
    </li>

    {% if url == '/useful-resources/index.html' %}
    {% assign link_class = 'current_page_item' %}
    {% else %}
    {% assign link_class = 'page_item' %}
    {% endif %}
    <li class="{{link_class}}">
        <a href="/useful-resources">Useful&nbsp;resources</a>
    </li>
</ul>