{% unless page.no_header %}
<div class="posttitle">
	<h2 class="pagetitle">
		{% if index %}
		<a href="{{ root_url }}{{ post.url }}" rel="bookmark" title="Permanent Link to {{ post.title }}">
			{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}
		</a>
    	{% else %}
      	{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}
    	{% endif %}
	</h2>
	{% unless page.meta == false %}
	<small>
		Posted: 
		{% include post/date.html %}
		{% include post/author.html %}
		{% include post/categories.html %}
	</small>
	{% endunless %}
</div>
{% endunless %}

{% if index %}
{% if site.disqus_show_comment_count %}
<div class="postcomments">
    <a href="{{ site.url }}{{ post.url }}#disqus_thread" data-disqus-identifier="{{ site.url }}{{ post.url }}">0</a>
</div>
{% endif %}
<div class="entry">
	{{ content | excerpt }}	
	{% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
	{% if excerpted == 'true' %}
	<a rel="full-article" href="{{ root_url }}{{ post.url }}" class="more-link">{{ site.excerpt_link }}</a>
	{% endif %}
</div>
{% else %}
{% if page.comments and site.disqus_show_comment_count %}
<div class="postcomments">
    <a href="#disqus_thread" data-disqus-identifier="{{ site.url }}{{ page.url }}">0</a>
</div>
{% endif %}
<div class="entry">
	{{ content }}
	{% unless page.sharing == false %}
        {% include post/sharing.html %}
      {% endunless %}
</div>
{% if page.comments %}
{% include disqus_thread.html %}
{% endif %}
{% endif %}