{% if site.simple_search %}
<div class="search-box">
    <form action="{{ site.simple_search }}" method="get">
        <input type="hidden" name="q" value="site:{{ site.url | shorthand_url }}"/>
        <input class="search-field" size="15" type="text" name="q" results="0" placeholder="Search"
               value="search this site" onfocus="if(this.value == 'search this site') {this.value = '';}"
               onblur="if (this.value == '') {this.value = 'search this site';}"/>
        <input type="submit" value="" class="search-go"/>
    </form>
</div>
{% endif %}

<ul>
{% if site.blog_index_asides.size %}
{% include_array blog_index_asides %}
{% else %}
{% include_array default_asides %}
{% endif %}
</ul>
