<ul>
    <li class="current_page_item">
        <a href="{{ root_url }}/">Home</a>
    </li>
    <li class="page_item page-item-2">
        <a href="/about">About the&nbsp;author</a>
    </li>
    <li class="page_item page-item-8">
        <a href="/tutorials-index">Tutorials&nbsp;index</a>
    </li>
    <li class="page_item page-item-11">
        <a href="/projects">Projects</a>
    </li>
    <li class="page_item page-item-318">
        <a href="/useful-resources">Useful&nbsp;resources</a>
    </li>
</ul>